.Rproj.user/**
.Rproj.user
.Rhistory
.RData
.Ruserdata
.idea/
rsconnect
*.DS_Store
debugging.R
tests/GeneralTest-expected
Sqlite.db
dev
*.Rprof
inst/extdata/originalExampleDatabase.db
.vscode/
rsconnect/
inst/doc

# Exclude all .md files except LICENSE, README and NEWS
*.md
!LICENSE.md
!README.md
!NEWS.md
